html{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
}
.car_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}
.img_container{
    background-color: green;
    width: 200px;
    height: 200px;
    border-radius: 3%;
}
.center-text{
    text-align: center
}
@media only screen and (max-width: 720px){
    .card_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}